.nav-bar
  %ul.nav-link-list
    %li.nav-link-item= link_to "Welcome", "#welcome"
    %li.nav-link-item= link_to "Our Story", "#our-story"
    %li.nav-link-item= link_to "Event Info", "#event-info"
    %li.nav-link-item= link_to "Travel Details", "#travel-and-accommodations"
    %li.nav-link-item= link_to "RSVP", "#rsvp"
    %li.nav-link-item= link_to "Something else", "#"
