.nav-bar
  .nav-bar__mobile-menu
    .nav-link-item
      %a#mobile-nav-toggle{href: "javascript: void(0);"} Menu
  %ul.nav-link-list
    %li.nav-link-item= link_to "Welcome", "#welcome"
    %li.nav-link-item= link_to "Our Story", "#our-story"
    %li.nav-link-item= link_to "Event Info", "#event-info"
    %li.nav-link-item= link_to "Travel Details", "#travel"
    %li.nav-link-item= link_to "Accommodations", "#accommodations"
    %li.nav-link-item= link_to "RSVP", "#rsvp"
